@media screen and (max-width: 500px) {
.first-entry .entry-header h1 {
    line-height: 1.2;
    font-weight: 240;
}

.first-entry {
    margin: 0 0 0 0;
    padding-bottom: 40px;
}

.post-header{
    margin-top: -4px;
    margin-bottom: 12px;
}

.main{
    padding-top: 24px;
}
.post-title.entry-hint-parent{
    padding-bottom: 1px;
}
p {
    font-size: 17px; 
}
/*
p -> 18px
#menu a {
    font-weight: 377;
    font-size: 16px;
}

#menu .active {
    font-weight: 377;
    border-bottom: 1.2px solid currentColor;
}
.social-icons a svg {
    height: 22px;
    width: 22px;
    stroke-width: 1.6;
}

.logo a {
    font-size: 22px;
    font-weight: 380;
}
#moon {
    stroke-width: 1.7;
}
#sun {
    stroke-width: 1.7;
} */
}