{{ $id :=  10 }}
<div class="code-block">
   <pre><code id="{{ $id }}">{{ .Inner | safeHTML }}</code></pre>
   <button onclick="copyToClipboard('{{ $id }}')">Copy</button>
</div>


<br><br>
<br><br>
<br><br>
{{ $input := `fmt.Println("Hello World!")` }}
{{ transform.Highlight $input "go" }}

{{ $input := `console.log('Hello World!');` }}
{{ $lang := "js" }}
{{ transform.Highlight $input $lang "lineNos=table, style=api" }}

{{ $input := `echo "Hello World!"` }}
{{ $lang := "bash" }}
{{ $opts := dict "lineNos" "table" "style" "dracula" }}
{{ transform.Highlight $input $lang $opts }}







   {{ with .Get "class" }}
     <div class="codeblock-title">{{ . }}</div>
   {{ end }}

<div class="highlight">
   <div class="code-content">
      {{ $input := .Inner | safeHTML }}
      {{ transform.Highlight $input "python"}} 
   </div>
   <button class="copy-code" onclick="copyCodeToClipboard()">Copy</button>
</div>

<div class="highlight">
   <div class="code-content">
     {{ $input := trim .Inner "\r\n" }}
     {{ transform.Highlight $input "python"}} 
   </div>
   <button class="copy-code" onclick="copyCodeToClipboard()">Copy</button>
</div>

<script>
   function copyCodeToClipboard() {
      /* Get the text content from the code-content div */
      var codeContent = document.querySelector('.code-content');
      
      /* Create a range object to select the text within codeContent */
      var range = document.createRange();
      range.selectNode(codeContent);

      /* Select the text content of codeContent */
      window.getSelection().removeAllRanges(); // Clear previous selections
      window.getSelection().addRange(range);

      /* Copy the selected text to the clipboard */
      document.execCommand('copy');

      /* Clean up and notify the user */
      window.getSelection().removeAllRanges(); // Clear the selection
      alert('Code copied to clipboard!');
   }
</script>
